body{
  margin-bottom: 20px;
  background-color: #f1f1f1;
  
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.header-left{
  text-align: left;
}
.header-title{
  color: #248888;
  text-decoration: none;
  font-size: 45px;
  font-family: 'Koulen', cursive;
}

.subtitle{
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  color: #475053;
}

.login{
  display: block;
  order:1;
  width: 65px;
  height: 25px;
  margin-bottom: 10px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}
.signup{
  order:2;
  width: 65px;
  height: 25px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

.main{
  border-radius: 20px;
  margin: 0 auto;
  width: 800px;
  height: 500px;
  background-color: white;
  box-shadow: lightgray 2px 2px;
}

.main-title{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  color: #475053;
}
.main-form{
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #475053;
}

.main-input {
  font-family: 'Roboto', sans-serif;
  width: 750px;
  height: 40px;
  margin: 10px 0;
}

.date-input{
  font-family: 'Roboto', sans-serif;
  height: 40px;
  margin: 10px 10px 10px 0px;
  width: 370px;
  color: #475053;
}

.main-submit{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  width: 150px;
  height: 50px;
  transform: translateX(300px);
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: #248888;
}

.loader{
  margin: 75px auto;
  width: 120px;
  height:75px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.loader span{
  font-size: 22px;
  text-transform: uppercase;
  margin: auto;
}

.ball{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  animation: bounce .5s alternate infinite;
}

.ball:nth-child(2){
  animation-delay: .16s;
}

.ball:nth-child(3){
  animation-delay: .32s;
}

@keyframes bounce{
  from{
    transform: scaleX(1.25)
  }
  to{
    transform: translateY(-50px) scaleX(1)
  }
}

.created-list-title{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #475053;
}

.list-container{
  width: 70%;
  margin: 0 auto;
  color: #475053;
}

.listitem-container{
  border: 2px solid lightgray;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.list-header{
  font-family: 'Roboto', sans-serif;
  border: 1px solid lightgray;
  padding-left: 10px;
  height: 50px;
  display: flex;
  align-items: center;
}

.listitem{
  border: 1px solid lightgray;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:25px;
}

.delete-button{
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.delete-button button{
  border: none;
  background-color: white;
  cursor: pointer;
}

.new-item {
  border: none;
  margin-left: 5px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.add-item{
  border: none;
  cursor: pointer;
  background-color: white;
  margin-right: 6px;
  font-size: 15px;
}

.todo-p {
  margin-left: 20px;
}
input{
  cursor: pointer;
}
input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

.new-item-form{
  display: flex;
  justify-content: space-between;
}




