
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.header-left{
  text-align: left;
}

.login{
  display: block;
  order:1;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
}
.signup{
  order:2;
  width: 100px;
  height: 50px;
}